@font-face {
  font-family: "Pixelite";
  src: local('Pixelite'), url(../src/components/Daydream.ttf) format("truetype");
}

@font-face {
  font-family: "Pixel";
  src: local('Pixel'), url(../src/components/PixeloidSans.ttf) format("truetype");
}

body {
  margin: 0;
  font-family: "Pixel",-apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("../src/components/ponytodoflying.gif");
  background-color:#003265;
  background-repeat: no-repeat;
  background-position: right -15% bottom 5%;
  background-size: 40%;
}

code {
  font-family: "Pixel", source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


h1 {
  font-family:"Pixelite",white;
  background: linear-gradient( #fc0001,#f46c2a,#f9f7b6,#f9ef06,#74bd4f,#0393e8,#5f3deb); 
    -webkit-text-stroke:0.15rem #9dd8f7;
  stroke:0.1rem #9dd8f7;
  -webkit-background-clip: text;
  background-clip: text;
  line-height: 1em;
  -webkit-text-fill-color: transparent;  
  animation: rainbow 100s linear infinite;
}

@keyframes rainbow {
 100% {
    background-position: 0 30em;
  }
}
